node_modules
**/node_modules
.next
**/.next
.medusa
**/.medusa
.git
.gitignore
.turbo
**/.turbo
coverage
**/coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
README.md
DEPLOY.md
